{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "QAZ Stat API",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://stat.gov.kz/api"
    }
  ],
  "paths": {
    "/juridical": {
      "get": {
        "summary": "Get information about juridical entity",
        "operationId": "getJuridical",
        "tags": [
          "pets"
        ],
        "parameters": [
          {
            "name": "bin",
            "in": "query",
            "description": "BIN or IIN to lookup",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language in which return results (ru, kz, en)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of pets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JuridicalEntityResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JuridicalEntityResponse": {
        "type": "object",
        "required": [
          "success"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "obj": {
            "$ref": "#/components/schemas/JuridicalEntity"
          }
        }
      },
      "JuridicalEntity": {
        "type": "object",
        "required": [
          "bin",
          "fio",
          "ip",
          "katoAddress",
          "katoCode",
          "katoId",
          "kfsCode",
          "kfsName",
          "krpBfCode",
          "krpBfName",
          "krpCode",
          "krpName",
          "kseCode",
          "kseName",
          "name",
          "okedCode",
          "okedName",
          "registerDate"
        ],
        "properties": {
          "bin": {
            "type": "string"
          },
          "fio": {
            "type": "string"
          },
          "ip": {
            "type": "boolean"
          },
          "katoAddress": {
            "type": "string"
          },
          "katoCode": {
            "type": "string"
          },
          "katoId": {
            "type": "integer",
            "format": "int32"
          },
          "kfsCode": {
            "type": "string"
          },
          "kfsName": {
            "type": "string"
          },
          "krpBfCode": {
            "type": "string"
          },
          "krpBfName": {
            "type": "string"
          },
          "krpCode": {
            "type": "string"
          },
          "krpName": {
            "type": "string"
          },
          "kseCode": {
            "type": "string"
          },
          "kseName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "okedCode": {
            "type": "string"
          },
          "okedName": {
            "type": "string"
          },
          "registerDate": {
            "type": "string"
          }
        }
      }
    }
  }
}